.x-mask {

  .x-mask-inner {
    position: relative;
    background: #f5f5f5;
    color: #fff;
    text-align: center;
    padding: .4em;
    font-size: .95em;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid #CCC;
  }

  &.x-has-message {
    .x-mask-inner {
      padding-bottom: 2em;
    }

    .x-loading-spinner-outer {
      height: 68px;
    }
  }
}
