.progress_modern_data_form {
  opacity: 0.95;

  .x-form-fieldset-title {
    font-weight: bold !important;
    color: #64b5f6 !important;
  }

  .x-inner {
    background-color: white;
  }
}

.x-body {
  background-color: white;
}

.h-selectfield {
  width: 1px !important;
  height: 1px !important;
  opacity: 0 !important;
}

.x-disabled {
  .x-trigger {
    display: none !important;
  }

  .x-button-label {
    opacity: 0.5;
  }
  &.x-button {
    opacity: 0.5;
  }
}

.x-tabbar {
  &.x-docked-bottom {
    box-shadow: -2px -2px 5px 0 rgba(0, 0, 0, 0.12), 2px 2px 5px 0 rgba(0, 0, 0, 0.08);

    .x-font-icon, .x-button-label {
      text-shadow: 1px 1px darken($base-color, 10%);
    }
  }
}

.x-textfield.x-disabled .x-input-el {
  color: rgba(0, 0, 0, 0.6) !important;
}

.progress-bg {
  .x-body {
    background: white url('images/progress.svg') no-repeat 95% 95%;
  }

  .x-draw-container {
    opacity: 0.95;
  }
}

.pickerWithoutBorder {
  .x-input {
    border-width: 0 !important;
  }
}

.green {
  color: #A5AD79;
}

.dblue {
  color: #5C7A96
}

.dred {
  color: #9B6469;
}

.legend_block {
  p {
    display: inline;
    margin: 0 0 0 10px;
  }

  .legend_mark {
    font-weight: bold;
    font-size: 21px;
    vertical-align: sub;

    &.phand {
      color: #845C63;
    }

    &.lhand {
      color: #836675;
    }
  }
}

.x-textfield .x-input {
  border-color: rgba(0, 83, 214, 0.05) !important;
}

.button-orange {
  color: #ff9800 !important;
  text-shadow: 1px 1px rgba(0, 79, 204, 0.07);

  .x-button-icon {
    color: #ff9800 !important;
  }
}

.data-items-container {
  .x-form-fieldset-title {
    .x-innerhtml {
      border-bottom: 1px dotted rgba(0, 0, 0, 0.29);
    }
  }
}
