.progress_modern_data_form {
  opacity: 0.95;

  .x-form-fieldset-title {
    font-weight: bold !important;
    color: #64b5f6 !important;
  }
}

.x-disabled {
  .x-trigger {
    display: none !important;
  }

  .x-button-label {
    opacity: 0.5;
  }
  &.x-button {
    opacity: 0.5;
  }
}

.x-textfield.x-disabled .x-input-el {
  color: rgba(0, 0, 0, 0.6) !important;
}

.progress-bg {
  .x-body {
    background: white url('images/progress.svg') no-repeat 95% 95%;
  }
}
